*{
	margin: 0;
	padding: 0;
}
html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.ab{
	position: absolute;/*绝对*/
}
img{
	width: 100%;
}
p {
	width: 6%;
	height: 3%;
	left: 47%;
	position: absolute;
	bottom: 5%;
}
.swiper-container{
	width: 100%;
	height: 100%;
}
.swiper-wrapper{
	width: 100%;
}
.swiper-slide{
	overflow: hidden;
}
.slide1{
	background-color: #083846;
}
.slide2{
	background-color: #9261bf;
}
.slide3{
	background-color: #f3533c;
}
.slide4{
	background-color: #ffbf50;
}
.slide5{
	background-color: #083846;
}
.slide1 .cover{
	width: 66%;
	left: 17%;
	top: 0;
}
.slide1 .wording_cover{
	width: 52%;
	left: 25%;
	top: 62%;
}
.slide2 .wording{
	width: 44%;
	left: 27%;
	top: 1%;
}
.slide2 .circle{
	width: 66%;
	left: 16%;
	top: 28%;
}
.slide2 .floating_develop{
	width: 69%;
	left: 18%;
	top: 8%;
}
.slide2 .people{
	width: 64%;
	left: 19%;
	top: 38%;
}
.slide2 .check_develop{
	width: 36%;
	left: 32%;
	top: 82%;
}
.slide3 .check_design{
	width: 36%;
	left: 32%;
	top: 82%;
}
.slide3 .wording_design{
	width: 44%;
	left: 27%;
	top: 1%;
}
.slide3 .circle-design{
	width: 66%;
	left: 16%;
	top: 28%;
}
.slide3 .people_design{
	width: 45%;
	left: 37%;
	top: 26%;
}
.slide3 .floating_design{
	width: 64%;
	left: 17%;
	top: 42%;
}
.slide4 .wording_production{
	width: 44%;
	left: 27%;
	top: 1%;
}
.slide4 .circle-production{
	width: 66%;
	left: 16%;
	top: 28%;
}
.slide4 .people_production{
	width: 42%;
	left: 28%;
	top: 29%;
}
.slide4 .floating_production{
	width: 77%;
	left: 9%;
	top: 34%;
}
.slide4 .pic_shadow_production{
	width: 46%;
	left: 28%;
	top: 74%;
}
.slide4 .check_production{
	width: 36%;
	left: 32%;
	top: 82%;
}
.slide5 .pic_back{
	width: 76%;
	left: 12%;
	top: 21%;
}
.slide5 .btn_join{
	width: 62%;
	left: 19%;
	top: 70%;
}
.bgmcBtn{
	position: absolute;
	top:3%;
	right:4%;
	width:13%;
	z-index: 10;
}
